#ESTRUTURA DE REPETIÇÃO
##Todos estes algoritmos/programas podem ser implementados com o comando **while** ou **for**. Para estudar, implemente cada exercício com as **duas** estruturas de repetição.

###1. Faça um algoritmo  que mostre 10 vezes a frase “Bem vindo a Fatec!”. Pode implementar com o comando while ou for.

In [ ]:
print('Exemplo do while.............\n\n')
# 1º passo - inicialização
contador = 1
# 2º passo - condição/critério de parada
while contador <= 10:
    print(contador, 'Bem vindo a Fatec!')
    contador = contador + 1 # 3º passo - incremento

Exemplo do while.............


1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!
5 Bem vindo a Fatec!
6 Bem vindo a Fatec!
7 Bem vindo a Fatec!
8 Bem vindo a Fatec!
9 Bem vindo a Fatec!
10 Bem vindo a Fatec!

In [ ]:
print('\n\nExemplo do for.............\n')
# 1º passo - inicialização, 2º passo - condição/critério de parada
# e 3º passo - incremento, numa única linha no for
for contador in range(1,11):
    print(contador,'Bem vindo a Fatec!')

Exemplo do for.............

1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!
5 Bem vindo a Fatec!
6 Bem vindo a Fatec!
7 Bem vindo a Fatec!
8 Bem vindo a Fatec!
9 Bem vindo a Fatec!
10 Bem vindo a Fatec!

###2. Faça um algoritmo que mostre o cumprimento ‘Olá ‘ para o nome de alguém (4 pessoas). Exemplo ‘Olá Mariana’. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
q_pessoas = 1
while q_pessoas <= 4:
    nome = input('Digite o nome da pessoa: ')
    print(f'Olá {nome}.')
    q_pessoas += 1

Com While


Digite o nome da pessoa: Augusto
Olá Augusto.
Digite o nome da pessoa: Diogo
Olá Diogo.
Digite o nome da pessoa: Bruno
Olá Bruno.
Digite o nome da pessoa: Thalia
Olá Thalia.

In [ ]:
print('Com For\n\n')
for q_pessoas in range(1,5):
    nome = input('Digite o nome da pessoa: ')
    print(f'Olá {nome}.')

Com For


Digite o nome da pessoa: Augusto
Olá Augusto.
Digite o nome da pessoa: Bruno
Olá Bruno.
Digite o nome da pessoa: Diogo
Olá Diogo.
Digite o nome da pessoa: Thalia
Olá Thalia.

###3. Faça um algoritmo que mostre os valores de 0 a 15. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
cont = 0
while cont <= 15:
    print(cont)
    cont += 1

Com While


0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
print('Com For\n\n')
for cont in range(16):
    print(cont)

Com For


0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

###4. Faça um algoritmo que mostre os valores de 3 a 20. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
cont = 3
while cont <= 20:
    print(cont)
    cont += 1

Com While


3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
print('Com For\n\n')
for cont in range(3,21):
    print(cont)

Com For


3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

###5. Faça um algoritmo que calcule e mostre a tabuada do 5. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
cont = 1
while cont <= 10:
    print(f'5 x {cont} = {5 * cont}')
    cont +=1

Com While


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
print('Com For\n\n')
for cont in range(1,11):
    print(f'5 x {cont} = {5 * cont}')

Com For


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

###6. Faça um algoritmo que receba a idade de 10 pessoas, calcule e exiba a quantidade de pessoas maiores de idade, sendo que a maioridade é obtida após completar 18 anos. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
cont = 1
maior_idade = 0
while cont <= 10:
    idade = int(input(f'Digite a idade da {cont}ª pessoa: '))
    if idade >= 18:
        maior_idade += 1
    print(idade)
    cont += 1
print(f'Pessoas maiores de idade: {maior_idade}')

Com While


Digite a idade da 1ª pessoa: 18
18
Digite a idade da 2ª pessoa: 21
21
Digite a idade da 3ª pessoa: 22
22
Digite a idade da 4ª pessoa: 23
23
Digite a idade da 5ª pessoa: 24
24
Digite a idade da 6ª pessoa: 17
17
Digite a idade da 7ª pessoa: 25
25
Digite a idade da 8ª pessoa: 26
26
Digite a idade da 9ª pessoa: 27
27
Digite a idade da 10ª pessoa: 8
8
Pessoas maiores de idade: 8

In [ ]:
print('Com For\n\n')
maior_idade = 0
for cont in range(1,11):
    idade = int(input(f'Digite a idade da {cont}ª pessoa: '))
    if idade >= 18:
        maior_idade += 1
    print(idade)
print(f'Pessoas maiores de idade: {maior_idade}')

Com For


Digite a idade da 1ª pessoa: 20
20
Digite a idade da 2ª pessoa: 22
22
Digite a idade da 3ª pessoa: 23
23
Digite a idade da 4ª pessoa: 24
24
Digite a idade da 5ª pessoa: 25
25
Digite a idade da 6ª pessoa: 26
26
Digite a idade da 7ª pessoa: 27
27
Digite a idade da 8ª pessoa: 28
28
Digite a idade da 9ª pessoa: 29
29
Digite a idade da 10ª pessoa: 1
1
Pessoas maiores de idade: 9

###7. Escreva um algoritmo que receba 23 números, calcule e exiba a quantidade de números pares e impares. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
cont = 1
par = 0
impar = 0
while cont <= 23:
    numero = int(input('Digite um número: '))
    if numero % 2 == 0:
        par += 1        
    else:
        impar += 1
    cont += 1
print(f'Quantidade de numeros pares: {par}\nQuantidade de numeros impares: {impar}')

Com While


Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
Digite um número: 6
Digite um número: 7
Digite um número: 8
Digite um número: 9
Digite um número: 0
Digite um número: 11
Digite um número: 12
Digite um número: 13
Digite um número: 14
Digite um número: 15
Digite um número: 16
Digite um número: 17
Digite um número: 18
Digite um número: 19
Digite um número: 20
Digite um número: 21
Digite um número: 22
Digite um número: 23
Quantidade de numeros pares: 11
Quantidade de numeros impares: 12

In [ ]:
print('Com For\n\n')
par = 0
impar = 0
for cont in range(0,23):
    numero = int(input('Digite um número: '))
    if numero % 2 == 0:
        par += 1        
    else:
        impar += 1
print(f'Quantidade de numeros pares: {par}\nQuantidade de numeros impares: {impar}')

Com For


Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
Digite um número: 6
Digite um número: 7
Digite um número: 8
Digite um número: 9
Digite um número: 0
Digite um número: 11
Digite um número: 12
Digite um número: 13
Digite um número: 14
Digite um número: 15
Digite um número: 16
Digite um número: 17
Digite um número: 18
Digite um número: 19
Digite um número: 20
Digite um número: 21
Digite um número: 22
Digite um número: 23
Quantidade de numeros pares: 11
Quantidade de numeros impares: 12

###8. Faça um algoritmo que calcule e exiba o salário reajustado de dez funcionários de acordo com a seguinte regra (pode implementar com o comando while ou for): 
## Salário até 300, reajuste de 50%; 

##Salários maiores que 300, reajuste de 30%.

In [ ]:
print('Com While\n\n')
cont = 0
while cont < 10:
    salario = float(input('Digite o salário do funcionário: '))
    if salario > 0 and salario <= 300:
        reajuste = salario + (salario * 50 / 100)
        cont += 1
        print(f'O salário do funcionário reajustado ficou em R${reajuste:.2f}')
    elif salario > 300:
        reajuste = salario + (salario * 30 / 100)
        print(f'O salário do funcionário reajustado ficou em R${reajuste:.2f}')
        cont += 1
    else:
        print('Digite um valor maior que zero!')

Com While


Digite o salário do funcionário: 1000
O salário do funcionário reajustado ficou em R$1300.00
Digite o salário do funcionário: 500
O salário do funcionário reajustado ficou em R$650.00
Digite o salário do funcionário: 600
O salário do funcionário reajustado ficou em R$780.00
Digite o salário do funcionário: 700
O salário do funcionário reajustado ficou em R$910.00
Digite o salário do funcionário: 800
O salário do funcionário reajustado ficou em R$1040.00
Digite o salário do funcionário: 900
O salário do funcionário reajustado ficou em R$1170.00
Digite o salário do funcionário: 1000
O salário do funcionário reajustado ficou em R$1300.00
Digite o salário do funcionário: 1100
O salário do funcionário reajustado ficou em R$1430.00
Digite o salário do funcionário: 1200
O salário do funcionário reajustado ficou em R$1560.00
Digite o salário do funcionário: 1300
O salário do funcionário reajustado ficou em R$1690.00

In [1]:
print('Com For\n\n')
for cont in range(10):
    salario = float(input('Digite o salário do funcionário: '))
    if salario > 0 and salario <= 300:
        reajuste = salario + (salario * 50 / 100)
        print(f'O salário do funcionário reajustado ficou em R${reajuste:.2f}')
    elif salario > 300:
        reajuste = salario + (salario * 30 / 100)
        print(f'O salário do funcionário reajustado ficou em R${reajuste:.2f}')
    else:
        print('Digite um valor maior que zero!')

Com For


Digite o salário do funcionário: 1000
O salário do funcionário reajustado ficou em R$1300.00
Digite o salário do funcionário: 800
O salário do funcionário reajustado ficou em R$1040.00
Digite o salário do funcionário: 700
O salário do funcionário reajustado ficou em R$910.00
Digite o salário do funcionário: 999
O salário do funcionário reajustado ficou em R$1298.70
Digite o salário do funcionário: 700
O salário do funcionário reajustado ficou em R$910.00
Digite o salário do funcionário: 600
O salário do funcionário reajustado ficou em R$780.00
Digite o salário do funcionário: 300
O salário do funcionário reajustado ficou em R$450.00
Digite o salário do funcionário: 500
O salário do funcionário reajustado ficou em R$650.00
Digite o salário do funcionário: 519
O salário do funcionário reajustado ficou em R$674.70
Digite o salário do funcionário: 900
O salário do funcionário reajustado ficou em R$1170.00


###9. Faça um algoritmo que conheça 4 preços de produtos, some-os e mostre o resultado. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
soma = 0
contador = 1
while contador <= 4:
    preco_produto = float(input(f'Digite o preço do {contador}º produto:'))
    soma = soma + preco_produto
    contador += 1
print(f'A soma do preço dos produtos é R${soma:.2f}')

Com While


Digite o preço do 1º produto:1
Digite o preço do 2º produto:2
Digite o preço do 3º produto:3
Digite o preço do 4º produto:4
A soma do preço dos produtos é R$10.00

In [ ]:
print('Com For\n\n')
soma = 0
for contador in range(1,5):
    preco_produto = float(input(f'Digite o preço do {contador}º produto:'))
    soma = soma + preco_produto
print(f'A soma do preço dos produtos é R${soma:.2f}')

Com For


Digite o preço do 1º produto:1
Digite o preço do 2º produto:2
Digite o preço do 3º produto:3
Digite o preço do 4º produto:4
A soma do preço dos produtos é R$10.00

###10. Faça um algoritmo que calcule e informe a média de idades de 5 alunos. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
soma_idade = 0
contador = 0
while contador < 5:
    idade = int(input('Digita a idade do aluno: '))
    soma_idade = soma_idade + idade
    contador += 1
media_idade = soma_idade / contador
print(f'A média de idade dos alunos é {media_idade:.2f} anos')

Com While


Digita a idade do aluno: 20
Digita a idade do aluno: 20
Digita a idade do aluno: 20
Digita a idade do aluno: 20
Digita a idade do aluno: 20
A média de idade dos alunos é 20.00 anos

In [ ]:
print('Com For\n\n')
soma_idade = 0
for contador in range(1,6):
    idade = int(input(f'Digita a idade do {contador}º aluno: '))
    soma_idade = soma_idade + idade
media_idade = soma_idade / contador
print(f'A média de idade dos alunos é {media_idade:.2f} anos')

Com For


Digita a idade do 1º aluno: 20
Digita a idade do 2º aluno: 20
Digita a idade do 3º aluno: 20
Digita a idade do 4º aluno: 20
Digita a idade do 5º aluno: 20
A média de idade dos alunos é 20.00

###11. Faça um algoritmo que conheça 4 preços de produtos, calcule e mostre a média aritmética dos preços. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
soma_preco = 0
contador = 1
while contador <= 4:
    preco_produto = float(input(f'Digite o valor do {contador}º produto: '))
    soma_preco = soma_preco + preco_produto
    contador += 1
media_preco = soma_preco / (contador-1)
print(f'A média de preço dos produtos é R${media_preco:.2f}')

Com While


Digite o valor do 1º produto: 21
Digite o valor do 2º produto: 22
Digite o valor do 3º produto: 23
Digite o valor do 4º produto: 24
A média de preço dos produtos é R$22.50

In [ ]:
print('Com For\n\n')
soma_preco = 0
for contador in range(1,5):
    preco_produto = float(input(f'Digite o valor do {contador}º produto: '))
    soma_preco = soma_preco + preco_produto
media_preco = soma_preco / contador
print(f'A média de preço dos produtos é R${media_preco:.2f}')

Com For


Digite o valor do 1º produto: 21
Digite o valor do 2º produto: 22
Digite o valor do 3º produto: 23
Digite o valor do 4º produto: 24
A média de preço dos produtos é R$22.50

###12. Faça um programa que receba a idade e a altura de 20 pessoas. Calcule e exiba a média das alturas das pessoas com mais de 20 anos.

In [ ]:
print('Com While\n\n')
contador = 1
soma_alturas = 0
soma_pessoas = 0
while contador <= 20:
    idade = int(input(f'Digite a idade da {contador}ª pessoa: '))
    altura = float(input(f'Digite a altura da {contador}ª pessoa: '))
    if idade > 20:
        soma_alturas = soma_alturas + altura
        soma_pessoas += 1
    contador += 1
media_alturas = soma_alturas / soma_pessoas
print(f'A média das alturas das pessoas com mais de 20 anos é {media_alturas:.2f}')

Com While


Digite a idade da 1ª pessoa: 21
Digite a altura da 1ª pessoa: 1.8
Digite a idade da 2ª pessoa: 21
Digite a altura da 2ª pessoa: 1.8
Digite a idade da 3ª pessoa: 21
Digite a altura da 3ª pessoa: 1.8
Digite a idade da 4ª pessoa: 21
Digite a altura da 4ª pessoa: 1.8
Digite a idade da 5ª pessoa: 21
Digite a altura da 5ª pessoa: 1.8
A média das alturas das pessoas com mais de 20 anos é 1.80

In [ ]:
print('Com For\n\n')
soma_alturas = 0
soma_pessoas = 0
for contador in range(1,21):
    idade = int(input(f'Digite a idade da {contador}ª pessoa: '))
    altura = float(input(f'Digite a altura da {contador}ª pessoa: '))
    if idade > 20:
        soma_alturas = soma_alturas + altura
        soma_pessoas += 1
media_alturas = soma_alturas / soma_pessoas
print(f'A média das alturas das pessoas com mais de 20 anos é {media_alturas:.2f}')

Com For


Digite a idade da 1ª pessoa: 21
Digite a altura da 1ª pessoa: 1.8
Digite a idade da 2ª pessoa: 21
Digite a altura da 2ª pessoa: 1.8
Digite a idade da 3ª pessoa: 21
Digite a altura da 3ª pessoa: 1.8
Digite a idade da 4ª pessoa: 21
Digite a altura da 4ª pessoa: 1.8
Digite a idade da 5ª pessoa: 21
Digite a altura da 5ª pessoa: 1.8
A média das alturas das pessoas com mais de 20 anos é 1.80

###13. Faça um algoritmo que leia o preço de 20 TV, determine e apresente a média dos preços que possuem valor maior que R$ 1000. Pode implementar com o comando while ou for.

In [ ]:
print('Com While\n\n')
contador = 1
conta_tv = 0
soma_preco_tv = 0
while contador <= 20:
    preco_tv = float(input(f'Digite o valor da {contador}ª TV: '))
    if preco_tv > 1000:
        conta_tv += 1
        soma_preco_tv = soma_preco_tv + preco_tv
    contador += 1
media_preco_tv = soma_preco_tv / conta_tv
print(f'A média do preço das TVs que custam mais de R$1000,00 é R${media_preco_tv:.2f}')

Com While


Digite o valor da 1ª TV: 2000
Digite o valor da 2ª TV: 3000
Digite o valor da 3ª TV: 4000
Digite o valor da 4ª TV: 5000
Digite o valor da 5ª TV: 6000
A média do preço das TVs que custam mais de R$1000,00 é R$4000.00

In [ ]:
print('Com For\n\n')
conta_tv = 0
soma_preco_tv = 0
for contador in range(1,6):
    preco_tv = float(input(f'Digite o valor da {contador}ª TV: '))
    if preco_tv > 1000:
        conta_tv += 1
        soma_preco_tv = soma_preco_tv + preco_tv
media_preco_tv = soma_preco_tv / conta_tv
print(f'A média do preço das TVs que custam mais de R$1000,00 é R${media_preco_tv:.2f}')

Com While


Digite o valor da 1ª TV: 2000
Digite o valor da 2ª TV: 3000
Digite o valor da 3ª TV: 4000
Digite o valor da 4ª TV: 5000
Digite o valor da 5ª TV: 6000
A média do preço das TVs que custam mais de R$1000,00 é R$4000.00

###14. Faça um programa que receba a altura e nome  de 5 pessoas. Encontre e apresente a altura da pessoa mais alta e da mais baixa e seus respectivos nomes.

In [ ]:
print('Com While\n\n')
contador = 1
while contador <= 5:
    nome = input(f'Digite o nome da {contador}ª pessoa: ')
    altura = float(input(f'Digite a altura da {contador}ª pessoa: '))
    if contador == 1:
        alto = altura
        nome_alto = nome
        baixo = altura
        nome_baixo = nome
    if altura > alto:
        alto = altura
        nome_alto = nome
    if altura < baixo:
        baixo = altura
        nome_baixo = nome
    contador += 1
print(f'Pessoa mais alta - {nome_alto} com {alto:.2f} de altura.\nPessoa mais baixa - {nome_baixo} com {baixo:.2f} de altura.')

Com While


Digite o nome da 1ª pessoa: Augusto
Digite a altura da 1ª pessoa: 1.76
Digite o nome da 2ª pessoa: Diogo
Digite a altura da 2ª pessoa: 1.80
Digite o nome da 3ª pessoa: Rosana
Digite a altura da 3ª pessoa: 1.63
Digite o nome da 4ª pessoa: Thalia
Digite a altura da 4ª pessoa: 1.50
Digite o nome da 5ª pessoa: Cibele
Digite a altura da 5ª pessoa: 1.63
Pessoa mais alta - Diogo com 1.80 de altura.
Pessoa mais baixa - Thalia com 1.50 de altura.

In [ ]:
print('Com For\n\n')
for qpessoas in range(1,6):
    nome = input(f'Digite o nome da {qpessoas}ª pessoa: ')
    altura = float(input(f'Digite a altura da {qpessoas}ª pessoa: '))
    if qpessoas == 1:
        alto = altura
        nome_alto = nome
        baixo = altura
        nome_baixo = nome
    if altura > alto:
        alto = altura
        nome_alto = nome
    if altura < baixo:
        baixo = altura
        nome_baixo = nome
print(f'Pessoa mais alta - {nome_alto} com {alto:.2f} de altura.\nPessoa mais baixa - {nome_baixo} com {baixo:.2f} de altura.')

Com For


Digite o nome da 1ª pessoa: Augusto
Digite a altura da 1ª pessoa: 1.76
Digite o nome da 2ª pessoa: Diogo
Digite a altura da 2ª pessoa: 1.80
Digite o nome da 3ª pessoa: Rosana
Digite a altura da 3ª pessoa: 1.64
Digite o nome da 4ª pessoa: Pamela
Digite a altura da 4ª pessoa: 1.61
Digite o nome da 5ª pessoa: Thalia
Digite a altura da 5ª pessoa: 1.5
Pessoa mais alta - Diogo com 1.80 de altura.
Pessoa mais baixa - Thalia com 1.50 de altura.

###15. Faça um programa que receba dez valores inteiros, encontre e apresente o maior e o menor valor.

In [ ]:
print('Com while\n\n')
contador = 1
while contador <= 10:
    numero = int(input('Digite um valor: '))
    if contador == 1:
        maior_numero = numero
        menor_numero = numero
    if numero > maior_numero:
        maior_numero = numero
    if numero < menor_numero:
        menor_numero = numero
    contador += 1
print(f'O maior número digitado é {maior_numero}\nO menor número digitado é {menor_numero}')

Com while


Digite um valor: 222
Digite um valor: 333
Digite um valor: 67
Digite um valor: 34
Digite um valor: 29
Digite um valor: 55
Digite um valor: 77
Digite um valor: 89
Digite um valor: 99
Digite um valor: 500
O maior número digitado é 500
O menor número digitado é 29

In [ ]:
print('Com For\n\n')
for contador in range(1,11):
    numero = int(input('Digite um valor: '))
    if contador == 1:
        maior_numero = numero
        menor_numero = numero
    if numero > maior_numero:
        maior_numero = numero
    if numero < menor_numero:
        menor_numero = numero
print(f'O maior número digitado é {maior_numero}\nO menor número digitado é {menor_numero}')

Com For


Digite um valor: 222
Digite um valor: 333
Digite um valor: 67
Digite um valor: 34
Digite um valor: 29
Digite um valor: 55
Digite um valor: 77
Digite um valor: 89
Digite um valor: 99
Digite um valor: 500
O maior número digitado é 500
O menor número digitado é 29

###16. Os alunos do primeiro módulo farão a P1 da disciplina de Algoritmo. Crie um algoritmo que leia as 40 notas e RAs, encontre e apresente a maior, a menor e os respectivos RAs desses alunos.

In [ ]:
print('Com While\n\n')
contador = 1
while contador <= 5:
    nota_aluno = float(input('Digite a nota do aluno: '))
    ra_aluno = int(input('Digite o RA do aluno: '))
    if contador == 1:
        maior_nota = nota_aluno
        ra_maior_aluno = ra_aluno
        menor_nota = nota_aluno
        ra_menor_aluno = ra_aluno
    if nota_aluno > maior_nota:
        maior_nota = nota_aluno
        ra_maior_aluno = ra_aluno
    if nota_aluno < menor_nota:
        menor_nota = nota_aluno
        ra_menor_aluno = ra_aluno
    contador +=1
print(f'O aluno que tem a maior nota tem o RA: {ra_maior_aluno} e a nota {maior_nota}\nO aluno que tem a menor nota tem o RA: {ra_menor_aluno} e a nota {menor_nota}')

Com While


Digite a nota do aluno: 10
Digite o RA do aluno: 123
Digite a nota do aluno: 9
Digite o RA do aluno: 124
Digite a nota do aluno: 8
Digite o RA do aluno: 125
Digite a nota do aluno: 7
Digite o RA do aluno: 126
Digite a nota do aluno: 7.5
Digite o RA do aluno: 127
O aluno que tem a maior nota tem o RA: 123 e a nota 10.0
O aluno que tem a menor nota tem o RA: 126 e a nota 7.0

In [ ]:
print('Com For\n\n')
for contador in range(1,6):
    nota_aluno = float(input('Digite a nota do aluno: '))
    ra_aluno = int(input('Digite o RA do aluno: '))
    if contador == 1:
        maior_nota = nota_aluno
        ra_maior_aluno = ra_aluno
        menor_nota = nota_aluno
        ra_menor_aluno = ra_aluno
    if nota_aluno > maior_nota:
        maior_nota = nota_aluno
        ra_maior_aluno = ra_aluno
    if nota_aluno < menor_nota:
        menor_nota = nota_aluno
        ra_menor_aluno = ra_aluno
print(f'O aluno que tem a maior nota tem o RA: {ra_maior_aluno} e a nota {maior_nota}\nO aluno que tem a menor nota tem o RA: {ra_menor_aluno} e a nota {menor_nota}')

Com For


Digite a nota do aluno: 6.6
Digite o RA do aluno: 123
Digite a nota do aluno: 7.7
Digite o RA do aluno: 124
Digite a nota do aluno: 8.8
Digite o RA do aluno: 125
Digite a nota do aluno: 7.8
Digite o RA do aluno: 126
Digite a nota do aluno: 8.9
Digite o RA do aluno: 127
O aluno que tem a maior nota tem o RA: 127 e a nota 8.9
O aluno que tem a menor nota tem o RA: 123 e a nota 6.6

###17. Faça um programa que calcule e apresente as tabuadas do 3 ao 7. Este exercício utiliza DUAS estruturas de repetição.

In [2]:
print('Com While\n\n')
x=3
while x <= 7:
    print(f'Tabuada do {x}')
    y = 1
    while y <= 10:
        print(f'{x} x {y} = {x * y}')
        y += 1
    x +=1
    print()

Com While


Tabuada do 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabuada do 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabuada do 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabuada do 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabuada do 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [3]:
print('Com For\n\n')
for x in range(3,8):
    print(f'Tabuada do {x}')
    for y in range(1,11):
        print(f'{x} x {y} = {x * y}')
    print()

Com For


Tabuada do 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabuada do 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabuada do 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabuada do 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabuada do 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

###18. Faça um programa para o curso de ADS (6 módulos), cada sala tem 30 alunos, calcule e apresente os seguintes itens:
*  Quantidade de homens e mulheres de cada módulo;
*  Média de idades de cada módulo;
*  Quantidade de homens e mulheres do curso todo;
*  Média de idades do curso todo.

Observação: este exercício utiliza DUAS estruturas de repetição.

In [ ]:
print('Com For\n\n')
gen_fem_curso = 0
gen_masc_curso = 0
idades_curso = 0
qtde_alunos_curso = 0
for modulo in range(1,7):
    print(modulo,'º módulo','.'*50)
    # contar genero feminino = 0
    # inicializar as variaveis para este for
    gen_fem = 0
    gen_masc = 0
    idades_modulo = 0
    for alunos in range(1,3):
        # digitar os dados dos alunos       
        genero = input('Cadastre o gênero M/F: ')
        if genero == 'F' or genero == 'f':
            gen_fem += 1
        if genero == 'M' or genero == 'm':
            gen_masc += 1
        idade = int(input('Digite a idade: '))
        idades_modulo = idades_modulo + idade
    # mostrar resultados de cada módulo
    media_idades_modulo = idades_modulo / alunos
    print(f'Quantidade de Homens no {modulo}º modulo: {gen_masc}\nQuantidade de Mulheres no {modulo}º modulo: {gen_fem}')
    print(f'A média de idade do {modulo}º modulo é {media_idades_modulo:.2f}')
    # acumular valores para o curso e resetar variaveis
    idades_curso = idades_curso + idades_modulo
    gen_fem_curso = gen_fem_curso + gen_fem
    gen_masc_curso = gen_masc_curso + gen_masc
    qtde_alunos_curso = qtde_alunos_curso + alunos
# mostrar resultados do curso
media_idades_curso = idades_curso / qtde_alunos_curso
print('.'*50,'\nEstatísticas do Curso')
print('.'*50,)
print(f'Quantidade de Mulheres no curso todo: {gen_fem_curso}\nQuantidade de Homens no curso todo: {gen_masc_curso}')
print('-'*50,)
print(f'A média de idade de todos os alunos do curso é: {media_idades_curso:.2f}')

Com For


1 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 1º modulo: 1
Quantidade de Mulheres no 1º modulo: 1
A média de idade do 1º modulo é 29.00
2 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 2º modulo: 1
Quantidade de Mulheres no 2º modulo: 1
A média de idade do 2º modulo é 29.00
3 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 3º modulo: 1
Quantidade de Mulheres no 3º modulo: 1
A média de idade do 3º modulo é 29.00
4 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 4º modulo: 1
Quantidade de Mulheres no 4º modulo: 1
A média de idade do 4º modulo é 29.00
5 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 5º modulo: 1
Quantidade de Mulheres no 5º modulo: 1
A média de idade do 5º modulo é 29.00
6 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 6º modulo: 1
Quantidade de Mulheres no 6º modulo: 1
A média de idade do 6º modulo é 29.00
..................................................
Estátisticas do Curso
..................................................
Quantidade de Mulheres no curso todo: 6
Quantidade de Homes no curso todo: 6
--------------------------------------------------
A média de idade de todos os alunos do curso é: 29.00

In [ ]:
print('Com While\n\n')
gen_fem_curso = 0
gen_masc_curso = 0
idades_curso = 0
qtde_alunos_curso = 0
modulo = 1
while modulo <= 6:
    print(modulo,'º módulo','.'*50)
    # contar genero feminino = 0
    # inicializar as variaveis para este for
    gen_fem = 0
    gen_masc = 0
    idades_modulo = 0
    alunos = 1
    while alunos <= 2:
        # digitar os dados dos alunos       
        genero = input('Cadastre o gênero M/F: ')
        if genero == 'F' or genero == 'f':
            gen_fem += 1
        if genero == 'M' or genero == 'm':
            gen_masc += 1
        idade = int(input('Digite a idade: '))
        idades_modulo = idades_modulo + idade
        alunos  = alunos + 1
    # mostrar resultados de cada módulo
    media_idades_modulo = idades_modulo / (gen_fem + gen_masc)
    print(f'Quantidade de Homens no {modulo}º modulo: {gen_masc}\nQuantidade de Mulheres no {modulo}º modulo: {gen_fem}')
    print(f'A média de idade do {modulo}º modulo é {media_idades_modulo:.2f}')
    # acumular valores para o curso e resetar variaveis
    idades_curso = idades_curso + idades_modulo
    gen_fem_curso = gen_fem_curso + gen_fem
    gen_masc_curso = gen_masc_curso + gen_masc
    qtde_alunos_curso = gen_fem_curso + gen_masc_curso
    modulo = modulo + 1
# mostrar resultados do curso
media_idades_curso = idades_curso / qtde_alunos_curso
print('.'*50,'\nEstatísticas do Curso')
print('.'*50,)
print(f'Quantidade de Mulheres no curso todo: {gen_fem_curso}\nQuantidade de Homens no curso todo: {gen_masc_curso}')
print('-'*50,)
print(f'A média de idade de todos os alunos do curso é: {media_idades_curso:.2f}')

Com While


1 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 1º modulo: 1
Quantidade de Mulheres no 1º modulo: 1
A média de idade do 1º modulo é 29.00
2 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 2º modulo: 1
Quantidade de Mulheres no 2º modulo: 1
A média de idade do 2º modulo é 29.00
3 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 3º modulo: 1
Quantidade de Mulheres no 3º modulo: 1
A média de idade do 3º modulo é 29.00
4 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 4º modulo: 1
Quantidade de Mulheres no 4º modulo: 1
A média de idade do 4º modulo é 29.00
5 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 5º modulo: 1
Quantidade de Mulheres no 5º modulo: 1
A média de idade do 5º modulo é 29.00
6 º módulo ..................................................
Cadastre o gênero M/F: M
Digite a idade: 29
Cadastre o gênero M/F: F
Digite a idade: 29
Quantidade de Homens no 6º modulo: 1
Quantidade de Mulheres no 6º modulo: 1
A média de idade do 6º modulo é 29.00
..................................................
Estatísticas do Curso
..................................................
Quantidade de Mulheres no curso todo: 6
Quantidade de Homens no curso todo: 6
--------------------------------------------------
A média de idade de todos os alunos do curso é: 29.00